

 .photo{
        width: 150px;
        
    }
    .head{
        text-align: center;
        font-size: 30px;
        margin-left: 400px;
    }
    .a{
        margin-left: 30px;
    }
    .b{
        margin-left: 200px;
    }

    .c{
        margin-left: 200px;
    }
    .d{
        margin-left: 200px;
    }
    .e{
        margin-left: 200px;
    }
    .des{
        text-align: center;
        margin-top: 50px;
        font-family: italic;
    }
    .first {
        display: flex;
        align-items: center;
    }
    .a:hover{
        background-color:antiquewhite;
                cursor: pointer;
    }
    .a:active{
        opacity: 0.5px;
    }
    .team{
        width: 500px;
        height: 700px;
    }
    .hi{
        display: flex;
        align-items: center;
    }
    #vinay{
        text-align: center;
    }